
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  text-align: center;
  background-color: #005f73;
  color: white;
  padding: 10px 0;
  margin: 0;
  font-size: 1.5rem;
}

#filters {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px 20px;
  z-index: 100;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 0.95rem;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.bottom-row {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#filters label {
  font-weight: 500;
}

#filters input[type="file"],
#filters select,
#filters input[type="number"],
#filters input[type="text"] {
  padding: 5px 8px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#filters input[type="checkbox"] {
  margin-right: 5px;
}

#cve-list {
  padding: 20px;
}

.cve-group details {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cve-group summary {
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
}

.cve-entry {
  background-color: white;
  border: 1px solid #ddd;
  border-left: 5px solid #005f73;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

#pagination {
  display: inline-block;
  margin: 0 10px;
}

#pagination button {
  padding: 6px 12px;
  margin-left: 5px;
  border: none;
  background-color: #005f73;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#pagination button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}


/* Dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #005f73;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 200;
  top: 100%;
  left: 0;
}

.dropdown-menu label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.form-group-vertical {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 15px;
}

.form-group-vertical input {
  max-width: 180px;
}

.filter-button {
  background-color: #005f73;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
